.App {
  text-align: center;
}

.App-header {
  background-color: #5d3131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 3px 3px black;
  color: yellow;

}


.input_text {

  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  border: 0px;
  border-bottom: 2px solid black;
  margin: 20px;
  color: yellow;
  text-shadow: 2px 2px black;
}

.input_text:focus {
  outline: none;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}




.knapper_login {
  margin: 10px 40px;
  background-color: yellow;
  font-family: 'Courier New', Courier, monospace;
  border: 0px;
  box-shadow: 2px 2px black;
  transition: all 0.2s ease-in-out;
}

.knapper_login p {
  font-size: 16px;             
  font-weight: bold;

}

.knapper_login:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.7vh 0.7vh black;
  transform: scale(1.3);
}

.knapper:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.7vh 0.7vh black;
  transform: scale(1.3);
}

.knapper_login:active, .knapper:active {
  transform: scale(1.1);
  transition: all 0.05s ease-in-out;
}

.knapper {
  margin: 3vh;
  background-color: yellow;
  font-family: 'Courier New', Courier, monospace;
  border: 0px;
  box-shadow: 2px 2px black;
  transition: all 0.2s ease-in-out;
  width: 20vh;
}

.knapper p {
  font-size: 1.5vh;
  font-weight: bolder;
  color: black;
  text-shadow: 0.1vh 0.1vh black;
}

.passord {
  display: flex;
}

.eye_icon {
  font-size: 24px;
  color: yellow;
}

.eye_icon:hover {
  cursor: pointer;
}

#passordTekst {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.text_info {

  font-family: 'Courier New', Courier, monospace;
  color: yellow;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.undertekst, #FAQside p, #highscores p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: bold;
  text-shadow: 0.1vh 0.1vh black;
}

#topp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 200px;
}

.strek {
  width: 90%;
  height: 0.5vh;
  color: yellow;
  background-color: yellow;
  box-shadow: 2px 2px black;
  border: none;
}

#kort_strek {
  width: 10%;
  height: 0.3vh;
  color: yellow;
  background-color: yellow;
  box-shadow: 2px 2px black;
  border: none;
  margin-top: -3vh;
}

#ikkeloggetinnside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#advarsel {
  font-size: 2vh;
  text-shadow: 0.2vh 0.2vh black;
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

/*SPEEDTYPE SIDE ----------------------------------------------------------------------*/

#f_spillet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo_speedtype {
  width: 20vh;
  height: 20vh;
}

.ST_input {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  border: 0px;
  border-bottom: 2px solid black;
  margin: 20px;
  color: yellow;
  text-shadow: 2px 2px black;
}


.ST_input:focus {
  outline: none;
}


#f_spillet p {
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

#startspill button p {
  color: black
}

#highscores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  padding-bottom: 6vh;
}

#highscores table tr{
  border-bottom: 2px solid yellow;
  border-right: 2px solid yellow;
  box-shadow: 0.5vh 0.5vh black;
  width: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#highscores p, #highscores h1 {
  font-size: 3vh;
  margin: 3vh;
}


/*SPEEDTYPE LOGG INN OG REGISTRER BRUKER ---------------------------------------------------------*/
#ikkeloggetinn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50vh;
  align-items: self-end;
}

#logginn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lagnybruker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2vh;
  text-shadow: 0.2vh 0.2vh black;
  height: 2vh;
  width: 38.5vh;
  text-align: center;

}

/*ADMIN SIDE ------------------------------------------------------------------------------------*/
.admintekst {
  font-size: 2vh;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 3px 3px black;
  color: white;
  text-align: center;
}

#adminside {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.slett_bruker:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.7vh 0.7vh black;
  transform: scale(1.3);
}

.slett_bruker:active {
  transform: scale(1.1);
  transition: all 0.05s ease-in-out;
}

.slett_bruker {
  margin: 3vh;
  background-color: rgb(255, 147, 147);
  font-family: 'Courier New', Courier, monospace;
  border: 0px;
  box-shadow: 2px 2px black;
  transition: all 0.2s ease-in-out;
  width: 20vh;
}

.slett_bruker p {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

#adminside p {
  color: white;
}

#modifiser_brukere .knapper p{
  color: black;
}

/*FREQUENTLY ASKED QUESTIONS ----------------------------------------------------------*/
#FAQside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

